:root {
  --primaryColor: #f69566;
  --secondaryColor: #83b5b8;
}

body {
  text-align: center;
  font-family: "Happy Monkey", cursive;
  background-image: url(./images/bday-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--primaryColor);
}

h1,
h2,
h3,
h4,
p {
  text-shadow: 0 0 1px black;
}

#close-friend-img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid var(--secondaryColor);
  margin-bottom: 10px;
}

#bday-age {
  background: var(--secondaryColor);
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}

#bday-date {
  margin: 0;
  background: var(--secondaryColor);
  padding: 5px 10px;
  border-radius: 5px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0;
}

#gift-img-cheers {
  height: 200px;
}

.gift-img {
  margin: 20px auto;
  max-width: 400px;
  height: 400px;
  border: 6px solid white;
  border-radius: 10px;
  background-image: url("images/gift-cover.jpg");
  background-size: cover;
}

#gift-img-happy:hover {
  background-image: url("images/happy.gif");
}

#gift-img-awe:hover {
  background-image: url("images/awe.gif");
}

#gift-img-beautiful:hover {
  background-image: url("images/beautiful.gif");
}

#gift-img-badass:hover {
  background-image: url("images/badass.gif");
}

#gift-img-cheers:hover {
  background-image: url("images/cheers.gif");
}

footer {
  font-style: italic;
  width: 400px;
  margin: 40px auto 20px;
}

a {
  color: blue;
}
